* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    height: auto;
    width: 80%;
    max-width: 400px;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.row {
    margin-bottom: 15px;
}

input[type="email"], input[type="password"], .login-btn, .facebook-btn, .google-btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0 10px;
    line-height: 50px;
}

input[type="email"], input[type="password"] {
    border: 1px solid #ccc;
}

input::placeholder {
    color: #888;
    line-height: 50px;
}

.forgot-password {
    text-align: center;
    font-size: 0.9em;
    color: lightblue;
    margin-top: -10px;
}

.login-btn {
    background-color: #1877F2;
    color: white;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: darkblue;
}

.signup-text {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
}

.signup-text a {
    color: blue;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.divider span {
    font-size: 0.9em;
    color: #666;
}

.facebook-btn, .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 20px;
    position: relative;
}

.facebook-btn {
    background-color: #1877F2;
    color: white;
}

.facebook-btn i {
    background-color: white;
    color: #1877F2;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #1877F2;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-btn:hover {
    background-color: #145DB7;
}

.google-btn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.google-btn i {
    color: #DB4437;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #DB4437;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn:hover {
    border-color: #DB4437;
}
